html, body {
    font-family: 'Nunito Sans', sans-serif !important;
    /* font-family: 'Consolas', monospace !important; */
    margin: 0;
    padding: 0;
}

.hero {
    /* background-color: white; */
    background: url("../img/hero-bg.jpg");
    background-size: cover;
    height: 100vh;
}

.hero-content {
    background-color: black;
    border-radius: 10px;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    color: white;
}

#explore-btn {
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

#explore-btn:hover {
    background-color: #f2f2f2;
    color: black;
}