html, body {
    font-family: 'Nunito Sans', sans-serif !important;
    /* font-family: 'Consolas', monospace !important; */
    margin: 0;
    padding: 0;
}

.hero {
    /* background-color: white; */
    background: url("../img/hero-bg.jpg");
    background-size: cover;
    height: 100vh;
}

.hero-content {
    background-color: black;
    border-radius: 10px;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    color: white;
}

#explore-btn {
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

#explore-btn:hover {
    background-color: #f2f2f2;
    color: black;
}

.hiredcmut-button {
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    border: 2px solid #FFBF00;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.hiredcmut-button:hover {
    background-color: #FFBF00;
    color: black;
    text-decoration: none;
}

.my-separator {
    width: 30%;
    height: 2px;
    background-color: #FFBF00;
    margin: 1em 0;
}

.about-hero {
    position: relative;
    background: url("../img/about-hero.jpg");
    background-size: cover;
    height: 100vh;
}

.about-hero h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin: 0;
}

.about-hero p {
    color: white;
}

.error-hero {
    background: url("../img/404-hero.jpg");
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

.about-hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.about-hero > * {
    position: relative;
    z-index: 1;
}